---
layout: ""
page_title: "Bitwarden Secrets Provider"
description: |-
  Use the Bitwarden provider to read, create, or update logins, secure notes and folders in your Bitwarden Vaults.
---

# Bitwarden Secrets Provider

This project builds a Terraform Provider on top of Bitwardens [Secrets Manager CLI]. It allows for reading secrets with Data Sources, or managing secrets or projects through Resources. Because the provider makes use of the CLI internally it should be available to the system globally, it is therefore recommended to put the `bws` binary in the system path.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

## Authorization

There are some remarks on the behaviour of read and writing from and to secrets. First, in order to use a Data Source secret from the Bitwarden Secrets Manager the currently active `access-token` should have read permissions for the project associated with the secret. For Resource secrets it should either hold that the secret is a child of a project Resource managed by Terraform, or that the currently active `access-token` has both read and write permissions for the associated project.

{{ .SchemaMarkdown | trimspace }}

[Secrets Manager CLI]: https://bitwarden.com/help/secrets-manager-cli/